# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [2]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [7]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [12]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [13]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [14]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [15]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [16]:
data.duplicated().sum()

71

In [17]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Для ответа на поставленный вопрос - есть ли зависимость между количеством детей и возвратом кредита в срок, разделим заемщиков по категориям, в соответствии с социально-демографическими характеристиками семей по количеству детей семьи бывают: 
1. Бездетные (супружеские)
2. Малодетные (1-2 ребёнка)
3. Многодетные (3 и более детей)
Создадим функцию c насзванием categorize_children, котора будет возвращать следующие значения при значении столбца children:
0 - бездетные
1-2 - малодетные
3 и более - многодетные

In [23]:
def categorize_children(child):
    try:
        if child <= 0:
            return 'бездетная семья'
        if 1 <= child <= 2:
            return 'малодетная семья'
        if child >= 3:
            return 'многодетная семья'
    except:
            pass

Итак, функция работает. Теперь добавим в таблицу столбец children_category, содержащий сведения о категории семьи заемщика:

In [24]:
data['children_category'] = data['children'].apply(categorize_children)

Для продолжения исследования разобьем заемщиков на категории в зависимости от наличия просрочек. Для этого создадим функцию categorize_debt, которая вернет нам следующие значения, при значении столбца debt:
0 - 'нет просроченных платежей'
1 - 'есть просроченные платежи'

In [25]:
def categorize_debt(row):
    if row == 0:
        return 'нет просроченных платежей'
    if row == 1:
        return 'есть просроченные платежи'
    
print(categorize_debt(1))

есть просроченные платежи

Добавим в таблицу столбец debt_category, содержащий сведения о наличии задолженности:

In [26]:
data['debt_category'] = data['debt'].apply(categorize_debt)

Теперь сравним выборку по двум категориям - в первой категория заемщика, в зависимости от количества детей, во второй - в зависимости от отсутсвия или наличия просроченных платежей:

In [27]:
print(data.pivot_table('debt', ['children_category', 'debt_category'], aggfunc = 'count'))

                                              debt
children_category debt_category
бездетная семья   есть просроченные платежи   1063
                  нет просроченных платежей  13028
малодетная семья  есть просроченные платежи    638
                  нет просроченных платежей   6222
многодетная семья есть просроченные платежи     31
                  нет просроченных платежей    349

Теперь пересчитаем количество заемщиков в каждой категории семей для вычисления корреляции между категориями по наличию просроченных платежей и отсортируем от меньшего к большему:

In [28]:
children_grouped = data.groupby('children_category')['debt'].agg(['count', 'sum'])
children_grouped['correlation'] = (children_grouped['sum']/children_grouped['count'])*100
print(children_grouped.sort_values('correlation'))

                   count   sum  correlation
children_category
бездетная семья    14091  1063     7.543822
многодетная семья    380    31     8.157895
малодетная семья    6860   638     9.300292

**Вывод:**

Вопрос исследования - есть ли зависимость между количеством детей заемщика и возвратом кредита в срок. По существу исследования можно сказать, что среди всех заемщиков самую большую долю имеют бездетные заемщики, они же имеют самый маленький процент просроченных платежей. Многодетные семьи имеют меньше всего займов и занимают второе место по количеству просроченных платежей. Доля заемщиков с 1-2 детьми составляет немного менее 30% от общего количества заемщиков, но при этом имеет самое большое количество просроченных платежей. Соответственно самая надежная категория заемщиков в текущем разрезе - бездетные заемщики, самые ненадежные - заемщики из малодетных семей.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Переберем количество уникальных значений столбца "семейный статус". Их количества достаточно для того, чтобы не производить категоризацию и сохранить читаемость и доступность информации.

In [32]:
data['family_status'].unique() # Ваш код будет здесь. Вы можете создавать новые ячейки.

array(['женат / замужем', 'гражданский брак', 'вдовец / вдова',
       'в разводе', 'Не женат / не замужем'], dtype=object)

Сгруппируем данные в столбце, и сразу же подсчитаем количество значений для разных статусов, и сумму значений в стобце debt. Следующим действием установим отношение количества заемщиков с просроченными платежами относительно заемщиков без таковых в процентном соотношении.

In [37]:
family_status_grouped = data.groupby('family_status')['debt'].agg(['count', 'sum'])
family_status_grouped['correlation'] = (family_status_grouped['sum']/family_status_grouped['count'])*100
print(family_status_grouped.sort_values('correlation'))

                       count  sum  correlation
family_status
вдовец / вдова           951   63     6.624606
в разводе               1189   84     7.064760
женат / замужем        12261  927     7.560558
гражданский брак        4134  385     9.313014
Не женат / не замужем   2796  273     9.763948

**Вывод:**

Отсортировав данные в столбце correlation в порядке возрастания мы видим, что самые надежные заемщики в статусе "вдовец/вдова", а самые ненадежные - состоят в незарегистрированном сожительстве или холосты.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Для ответа на поставленный вопрос сгруппируем данные в столбце total_income_category и сопоставим со столбцом debt.

In [46]:
total_income_category_grouped = data.groupby('total_income_category')['debt'].agg(['count', 'sum'])
total_income_category_grouped['correlation'] = (total_income_category_grouped['sum']/total_income_category_grouped['count'])*100
print(total_income_category_grouped.sort_values('correlation'))

                       count   sum  correlation
total_income_category
D                        349    21     6.017192
B                       5014   354     7.060231
A                         25     2     8.000000
C                      15921  1353     8.498210
E                         22     2     9.090909

**Вывод:**

Вспомним, что категории присваивались по следующим параметрам:
0–30000 — 'E';
30001–50000 — 'D';
50001–200000 — 'C';
200001–1000000 — 'B';
1000001 и выше — 'A'.
Исходя из этого сделаем вывод, что заемщики с категорией дохода D имеют меньше всех просроченных платежей. В то время как заемщики категории С берут займы чаще всего, но и допускают значительное количество просрочек. Объем выборки по категориям A и C - 25 и 22 человека мал и может быть не репрезентативен, что следует учитывать при принятии решений.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [51]:
purpose_category_grouped = data.groupby('purpose_category')['debt'].agg(['count', 'sum'])
purpose_category_grouped['correlation'] = (purpose_category_grouped['sum']/purpose_category_grouped['count'])*100
print(purpose_category_grouped.sort_values('correlation'))

                          count  sum  correlation
purpose_category
операции с недвижимостью  10751  780     7.255139
проведение свадьбы         2313  183     7.911803
получение образования      3988  369     9.252758
операции с автомобилем     4279  400     9.347978

**Вывод:**

По итогам последнего сравнения самые надежные заемщики - те, что планируют проведение операций с недвижимостью, а чаще всех допускают просрочки заемщики, цель которых операции с автомобилем.

Финальный просмотр дата-сета:

In [61]:
display(data.head(10))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category,children_category,debt_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью,малодетная семья,нет просроченных платежей
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем,малодетная семья,нет просроченных платежей
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью,бездетная семья,нет просроченных платежей
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования,многодетная семья,нет просроченных платежей
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы,бездетная семья,нет просроченных платежей
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью,бездетная семья,нет просроченных платежей
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B,операции с недвижимостью,бездетная семья,нет просроченных платежей
7,0,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C,получение образования,бездетная семья,нет просроченных платежей
8,2,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C,проведение свадьбы,малодетная семья,нет просроченных платежей
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C,операции с недвижимостью,бездетная семья,нет просроченных платежей

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 
- Невозможность получения данных
- Ошибки ввода (человеческий фактор)
- Невозможность обработки данных
- Сокрытие данных
- Ошибки при загрузке/выгрузке данных (техногенный фактор)

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Это лучшее решение, потому что как вставка медианного значения не именит медиану по выборке.

### Шаг 4: общий вывод.

В проведенном исследовании данных мы узнали, что доля заемщиков допускающих просроченные платежи по каждому признаку составляет 6-10 процентов. Внутри каждого класса различия между категориями составляют от 1 до 3 процентов, данные по заемщикам со сверхвысокими и сверхнизкими доходами могут быть не релевантны. Семейное положение, количество детей, уровень дохода и цель взятия займа в текущем объеме данных вляют на погашение кредита в срок.